body{
    background-color: lightslategrey;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 50px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
}

.dash{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.dash div{
    background-color: white;
    width: 20%;
    height: 25%;
    margin: 5px;
    border-radius: 15px;
}