body{
    background-color: lightslategrey;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 35px;
}

/* panels */
.panel {
    background-color: white;
    color: darkslategray;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    border-radius: 0.3rem;
    margin: 1%;
}

.panel > h2, .panel > ul {
    margin: 1rem;
}

.panel a{
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: deepskyblue;
}

.panel a:hover{
    background-color: rgba(0, 191, 255, 0.7);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#account__summary{
    display: flex;
    flex-direction: column;
}

#account__details{
    border-radius: 0.5rem;
    width: 75%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    overflow-y: scroll;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}

#title{
    color: #00bfff;
    font-size: 50px;
    margin-left: 15px;
}

#title__small{
    color: deepskyblue;
    font-size: 25px;
    margin-left: 15px;
}

#close{
    font-size: 40px;
    color: lightgray;
    margin-right: 15px;
    margin-top: 5px;
}

#body{
    display: flex;
    flex-direction: column;
}

.chart{
    align-self: center;
}

canvas {
    display: block;
    position: absolute;
    top: 45%;
}
span {
    color:#555;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
}
  