body{
    background-color: lightslategrey;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 35px;
}

/* panels */
.panel {
    background-color: white;
    color: darkslategray;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    border-radius: 0.3rem;
    margin: 1%;
}

.panel > h2, .panel > ul {
    margin: 1rem;
}

.panel a{
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: deepskyblue;
}

.panel a:hover{
    background-color: rgba(0, 191, 255, 0.7);
}
  