body{
  background-image: url(/img/pexels-katerina-holmes-5905557.jpg);
  background-size: cover;
}

.answer {
  background: #fcfae6;
  color: #857a11;
  margin: 1em;
  padding: 0.5em 0.5em 0.5em 2em;
  border: solid 1px khaki;
}