body{
    background-color: lightslategrey;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

#left{
    width: 12%;
    height: 100vh;
}

#center{
    height: 100vh;
    width: 66%;
    background-color: rgb(201, 198, 198);
    background-image: url(/MoneyManager/img/highrise.jpeg);
    background-image: url(/img/highrise.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#right{
    height: 100vh;
    width: 12%;
}

.form-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
  margin-top: 150px;
	padding: 40px;
  padding-top: 0px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 350px;
  font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}
.form-box:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}
.form-box input {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.form-box input[type=checkbox] {
	display: none;
}
.form-box label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}
.form-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form-box span {
	font-size: 14px;
}
.form-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}
span a {
	color: #BBB;
}