body{
  background-image: url(/img/pexels-andrea-piacquadio-3755700.jpg);
  background-size: cover;
}

.names{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.contact{
  display: flex;
  flex-direction: row;
}

.content-box{
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.name-label{
  margin-right: 100px;
}

.contact-label{
  margin-right: 70px;
}

.btn{
  border-style: none;
  margin: 0px 5px 5px 5px;
  border-radius: 3px;
  padding: 5px;
  color: white;
  background-color: deepskyblue;
}

.btn:hover{
  background-color: rgba(0, 191, 255, 0.7);
}